:root{
    --primary-color:rgb(255, 255, 255);
    --background-color:#000;
    --pokemon-theme-color:white;
    --pokemon-background-color:rgb(74, 76, 74);
    --font : 'Irish Grover';
    --box-background:rgb(47,45,45);
    --poke-btn-bg-color:blue;
    --poke-btn-text-color:#ffffff;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font);
}
/* for mobil */
body{
    width:100vw;
    height: 100vh;
color:var(--primary-color);
    background-color: var(--background-color);
}
nav{
    display: flex;
    gap:10px;
    flex-direction: column;
    align-items: center;
    padding:1rem;
}
.title{
    display: flex;
    justify-content: center;
    
}
.title img{
height:100px;

}

.pokemonSearch {
    display: flex;
    justify-content: center;
    gap:20px;
   min-width:80%;
    min-height: 60px;

    border-radius: 8px;
    border: none;
    font-size: 1rem;
    color:var(--pokemon-theme-color);
    
}
.pokemonSearch input[type="text"]{
    border-radius: 20px;
    border:none;
    min-height: 80% ;
    width: 70%;
    padding:12px;
    text-align: center;
    color:var(--poke-btn-text-color);
    font-size:20px;
    background: var(--box-background);
    box-shadow:0 0 5px white ;
}

.pokemonSearch button{
    padding:10px 20px;
    background: var(--box-background);
    font-size: 1.1rem;
    border-radius: 15px;
    color:white;

}

.container{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(12,1fr);
    grid-template-rows: repeat(12,1fr);
    gap: 20px;padding: 20px ;
    
}
.pokeDetails{
    grid-column: 3/7;
    grid-row: 1/6;
    display: flex;
    border-radius: 14px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    background: var(--box-background);
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.pokeDetails div{
   height: 90px;
    width: 300px;
    display: flex;
    justify-content:center;
    gap: 20px;
    border-radius: 5px;
    align-items: center;
    background: var(--pokemon-background-color);

   
}
.pokeDetails>div>span{
    background: var(--box-background);
    padding:10px 20px;
}
.pokeDetails>div>h3{
    color: var(--pokemon-theme-color);
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
}
.pokeDetails>div>select{
    padding:10px 20px;
    background: var(--box-background);
    border-radius: 5px;
    color: var(--primary-color);
    border: none;
    font-size: 1.2rem;
}
.pokeImgs{
    grid-column: 7/11;
    grid-row: 1/6;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: var(--box-background);
    border-radius: 14px;
}
.pokeImgs img{
    width:250px;
    height: 250px;
    border-radius: 14px;
}
.pokeImgs>.PokeImgContainer{
    width: 400px;
    border-radius: 14px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.PokeImgContainer>button{
    padding:10px;
    color: var(--poke-btn-text-color);
}
.PokeImgContainer>button:hover{
    color: var(--poke-btn-bg-color);
}

.PokeImgContainer>button>img{
    color:white;
    height: 30px;
    width: 20px;
}